*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

    header{
        background: linear-gradient(127deg,#ea9999, #c1875f,#f7d060);
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    header nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 40%;
    }
    
    header nav a {
        color : white;
        text-decoration: none;
    }
    
    header nav a:hover {
        text-decoration: underline;
    }
    
    #AllItems{
    background-color: #FEE6D5;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.allProducts{
    border : 2px solid white;
    margin-left: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 80%;
}

.allProducts img{
    height: auto;
    width: 170px;
}

#section-patisserie{
    background-color: #ea9999;
    color: white;
}
#section-viennoiserie{
    background-color: #c1875f;
    color: white;
}

#section-boisson{
    background-color: #f7d060;
    color: white;
}

.allProducts .products{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.allProducts .products .product-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 3px solid black; */
}

p{
    color: white;
}