* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.patisserie {
    background-color: #ea9999;
}

.viennoiserie {
background-color: #c1875f;
}

.boisson {
    background-color: #f7d060;
    height: 100vh;
}

#AllItems {
  height: 80vh;
  border: 4px solid pink;
  display: flex;
  align-items: center;
  justify-content: center;
}

.allProducts {
  margin-left: 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.allProducts .products {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}